*.DS_Store
.git
.idea
.vscode
.nyc_output
build/Release
coverage
dist
node_modules
docs
tests
.dockerignore
*.env
*.log*
.gitignore
.gitlab-ci.yml
.npmrc
.nvmrc
.yarn-integrity
Dockerfile
README.md
tsconfig.tsbuildinfo
.husky
scripts
.github
.mia-template
.prettierrc
